*{
    margin: 0;
    padding: 0;
    
}

.body{
    background-color: #16243E;
}
.form .titre{
    font-size: 30px;
    font-weight: bold;
    text-align:center;
    color: #FFF;
}
select{
    height: 50px;
    width: 20vw;
    border-radius: 10px;
    text-align: center;
    background-color: #FFFF;
    font-size: 20px;
}
select option{
    background-color: #FFF;
    font-size: 18px;
}
input{
    height: 50px;
    width: 20vw;
    border-radius: 5px;
    text-align: center;
    background-color: #FFF;
    font-size: 20px;
    border:3px solid #004F70;
    border-radius: 10px;
}

.btn{
    border: none;
    background-color: #004F70;
    height: 50px;
    width: 20vw;
    border-radius: 5px;
    color:white;
    font-weight: bold;
    
}

.form a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 500px;
}
.laPricipale{
    display: flex;
    margin: 30px auto;
    justify-content: center;
}

.formConnex{
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-evenly;
}

.formConnex button{
    background-color: #004F70;
    border: none;
    height: 50px;
    border-radius: 10px;
    font-size: 15px;
    color: #FFF;
    font-weight: bold;
}
.formConnex p{
    display: flex;
    text-align: center;
    align-items: center;

}

